$elan-blue: #bb8fce ;
$catskill-white: #eff3f7;
$white: #ffffff;
$regent-gray: #808d9e;
$surf-crest: #d6e3d3;
$light-green: #657589;
$alto: #dddddd;
.header {
	.top-bar {
		background-color: $elan-blue;
		.header-logo {
      padding: 5px 0;
    }
  }
  .main-nav {
    background-color:  #f2f3f4;
    border-bottom: 2px solid $catskill-white;
    .nav-item {
      border-left: 1px solid $catskill-white;
      font-size: 10px;
    }
  }
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: $elan-blue;
  .copyright, span {
    color: $white;
  }
}

.dashboard-wrapper {
  padding: 50px;
  .dashboard .row {
    border: 1px solid $alto;
    padding: 4px 0;
    margin: 0 13px;
  }
}

.page-content {
  padding-top: 62px;
  .container {
    border: 1px solid $surf-crest;
    height: auto;
    padding: 0;
    margin-bottom: 40px;
  }

  .table-wrapper  {
    padding: 50px;
    background-color: $white;
    th, td {
      text-align: center;
      color: $light-green;
    }
    a i {
      margin-right: 8px;
    }
  }
}

.space-20{
  padding: 20px 0;
}
.space-40{
  padding: 40px 0;
}